<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Dashboard</title>
    <meta name="description" content="A simple dashboard">
    <meta name="author" content="Dash">

    <meta property="og:title" content="Dashboard">
    <meta property="og:type" content="website">
    <meta property="og:description" content="A simple dashboard">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>

<h1 class="header">Dashboard</h1>
<div class="content">
    <div class="wrapper">
        <canvas id="line_chart" width="700" height="700"></canvas>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.1/dist/chart.min.js"></script>
<script>
    var data = {{
        historical | tojson
    }}
    const ctx = document.getElementById('line_chart').getContext('2d');
    const line_chart = new Chart(ctx, {
        type: 'bar',
        data: {
            datasets: [{
                label: 'Trades',
                data: data,
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
</body>
</html>